<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/datos"><i class="fas fa-angle-double-left" aria-hidden="true"></i>Go Back</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">MODIFICAR TRAILER</h2>
            <span class="text-light">Utilice este formulario para Modificar los Trailer que han sido agregados.</span>
        </div>
        <form id="update_user" name="update">
            <div class="update_user">
                <div class="form-group">
                    <label for="titulo" class="text-light">Título</label>
                    <input type="text" id="titulo" [(ngModel)]="movie.titulo" name="titulo" placeholder="Ingrese el Título del Trailer" />
                </div>
                <div class="form-group">
                    <label for="ano" class="text-light">Año</label>
                    <input type="number" [(ngModel)]="movie.ano" name="ano" placeholder="Introduzca el Año del Trailer" />
                </div>
                <div class="form-group">
                    <label for="director" class="text-light">Director</label>
                    <input type="text" [(ngModel)]="movie.director" name="director" placeholder="Nombre del Director" />
                </div>
                <div class="form-group">
                    <label for="actores" class="text-light">Actores</label>
                    <input type="text" [(ngModel)]="movie.actores" name="actores" placeholder="Nombre/s de los Actor/es" />
                </div>
                <div class="form-group">
                    <label for="resena" class="text-light">Reseña</label>
                    <input type="text" [(ngModel)]="movie.resena" name="resena" placeholder="Escriba una Reseña" />
                </div>
                <div class="form-group">
                    <label for="portada" class="text-light">Portada</label>
                    <input type="text" [(ngModel)]="movie.portada" name="portada" placeholder="Link de la Imagen" />
                </div>
                <div class="form-group">
                    <label for="link" class="text-light">Link Trailer</label>
                    <input type="text" [(ngModel)]="movie.link" name="link" placeholder="Link del Trailer" />
                </div>
        
                <div class="form-group">
                    <button (click)="saveUpdate()" class="btn text-dark update">GUARDAR MODIFICACIÓN</button>
                </div>
            </div>
        </form>
    </div>
